/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/


/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */

/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */
@media only screen and (max-width: 1280px) {
	  
	  .ption_f{ display:none;}
	  #main{margin:0 auto; position:none;left:0;}
	  .lg_main{width:100%;}
        
    }
@media only screen and (min-width: 959px) and (max-width:1280px) {
        .ption_f{ display:none;}
	  #main{margin:0 auto; position:none;left:0;}
	  .lg_main{width:100%;}
    }
@media only screen and (min-width: 768px) and (max-width: 959px) {
        .ption_f{ display:none;}
	  #main{margin:0 auto; position:none;left:0;}
	   .lg_main{width:100%;}
	   .logo{width:30%;}
    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
       

    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        
    }


