<?xml version="1.0" encoding="UTF-8" ?> 
    <!DOCTYPE mapper 
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.szfore.mapper.FriendProposalsMapper">
	<insert id="saveFriendProp">
		INSERT INTO u_friend_proposals (
			userName, 
			sex, 
			telPhone, 
			email, 
			jobInterview, 
			designGoal, 
			interviewForm, 
			descriptionInterview,
			referenceIdeas)
		VALUES( 
			#{friendProposals.userName}, 
			#{friendProposals.sex}, 
			#{friendProposals.telPhone}, 
			#{friendProposals.email}, 
			#{friendProposals.jobInterview}, 
			#{friendProposals.designGoal}, 
			#{friendProposals.interviewForm}, 
			#{friendProposals.descriptionInterview},
			#{friendProposals.referenceIdeas})
	</insert>
	<select id="findProposalsAll" resultType="java.util.HashMap">
		SELECT id, 
			userName, 
			sex, 
			telPhone, 
			email, 
			jobInterview, 
			designGoal, 
			interviewForm, 
			descriptionInterview, 
			referenceIdeas, 
			synopsis ,
			<if test="id == 0">
				voteNum
			</if>
			<if test="id != 0">
			ROUND((voteNum/(select sum(voteNum) from u_friend_proposals))*100) AS voteNum
			</if>
			
	  FROM u_friend_proposals 
		<if test="page.params.userName != null and page.params.userName !=''">
	 		where uesrName like CONCAT('%',#{page.params.userName},'%')
	 	</if> 
	 	order by voteNum desc 
	</select>
	<select id="findFriendByName" resultType="com.szfore.model.FriendProposals">
		SELECT * FROM u_friend_proposals where userName = #{userName} 
	</select>
	
	<select id="findFriendById" resultType="com.szfore.model.FriendProposals">
		SELECT * FROM u_friend_proposals where id = #{id} 
	</select>
	
	<update id="updateFriendById">
		UPDATE 
			u_friend_proposals 
		SET
			voteNum = voteNum+1
		WHERE
			id = #{id} 
	</update>
	
	
	<select id="findLoggedByIp" resultType="com.szfore.model.IpLogged">
		select * from ip_logged 
			where 
				ipLocation=#{ip} 
			<!-- AND 
				(UNIX_TIMESTAMP(NOW())-UNIX_TIMESTAMP(TIME))/60  &lt; 720  --> 
	</select>
	
	<insert id="insertLogged">
	INSERT INTO ip_logged (
		ipLocation, 
		TIME
	)VALUES(
		#{ipLogged.ipLocation}, 
		#{ipLogged.time}
	) 
	</insert>
</mapper>
