<?xml version="1.0" encoding="UTF-8" ?> 
    <!DOCTYPE mapper 
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.szfore.mapper.SocialPracticeMapper">
	<insert id="insertSocial" keyProperty="socialPractice.id" useGeneratedKeys="true">
		insert into
 			u_socialpractice(
 			starDayNum,
 			endDayNum,
 			school,
 			position,
 			activityContent,
 			userId
 		)values(
 			#{socialPractice.starDayNum},
 			#{socialPractice.endDayNum},
 			#{socialPractice.school},
 			#{socialPractice.position},
 			#{socialPractice.activityContent},
 			#{socialPractice.userId}
 		)
	</insert>

	<select id="findByUserId" resultType="map">
		select * from u_socialpractice where userId=#{userId} 
	</select>
	<select id="findByUid" resultType="map">
		select * from u_socialpractice where userId=#{userId} 
	</select>
	
	<update id="updateById">
		UPDATE 
			u_socialpractice 
		SET
			<if test="socialPractice.starDayNum != '' and socialPractice.starDayNum != null">
				starDayNum = #{socialPractice.starDayNum}, 
			</if>
			<if test="socialPractice.endDayNum != '' and socialPractice.endDayNum != null">
				endDayNum = #{socialPractice.endDayNum},
			</if>
			<if test="socialPractice.school != '' and socialPractice.school != null"> 
				school = #{socialPractice.school} , 
			</if>
			<if test="socialPractice.position != '' and socialPractice.position != null">
				POSITION = #{socialPractice.position}, 
			</if>
			<if test="socialPractice.activityContent != '' and socialPractice.activityContent != null">
				activityContent = #{socialPractice.activityContent} , 
			</if>
				userId = #{socialPractice.userId}
		WHERE
			id = #{socialPractice.id} 
	</update>
	
	<delete id="deleteSocial">
		DELETE FROM u_socialpractice WHERE id = #{id} ;
	</delete>
</mapper>
